{% extends "base.html" %}
{% block title %}
Star ERP -- Alter Ledger
{% endblock %}
{% block content %}
<h1 class="h3 mb-4 text-gray-800">Alter Ledger</h1>
<form action="/alter_ledger" method="POST">
  <div class="form-row">
    <div class="form-group col-md-4">
      <label for="inputState">Old Ledger Name</label>
      <select id="inputState" name="ledgers_list" class="form-control">
        {% if not items_data %}
        <option value="no_items">No Items to display</option>
      {% else %}
        {% for items in items_data %}
        <option value="{{ items.id }}" name="{{ items.ledger_name }}">{{ items.ledger_name }}</option>
        {% endfor %}
      {% endif %}
      </select>
    </div>
      <div class="form-group">
          <label for="inputState">New Ledger Name</label>
      <input type="text" class="form-control"  name="new_name">
    </div>
  </div>
    <div class="form-row">
    <div class="form-group col-md-8">
         <label for="inputState">New Comments</label>
         <input type="text" class="form-control" id= "popname" name="new_comments">
    </div>
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Submit</button>
    <button type="reset" class="btn btn-danger">Cancel</button>
</form>
{% endblock %}