{% extends "base.html" %}
{% block title %}
Star ERP -- Billings
{% endblock %}
{% block content %}
<h1 class="h3 mb-4 text-gray-800">Alter Billings</h1>
<form action="/alteration_billings" method="POST">
     <div class="form-row">
    <div class="form-group col-md-6">
         <label>Sell ID</label>
      <select id="inputState3" name="sell_data" class="form-control">
        <option selected> -- Choose -- </option>
        {% if not sell_data %}
        <option value="no_items">No Items to display</option>
      {% else %}
        {% for items in sell_data %}
        <option value="{{ items.sell_id }}" name="{{ items.sell_id }}">{{ items.sell_id }}</option>
        {% endfor %}
      {% endif %}
      </select>
    </div>
     </div>
  <div class="form-row">
    <div class="form-group col-md-2">
         <label>Ledger Name</label>
      <select id="inputState" name="ledgers_dat" class="form-control">
        <option id="0" selected> -- Choose -- </option>
        {% if not ledger_data %}
        <option value="no_items">No Items to display</option>
      {% else %}
        {% for items in ledger_data %}
        <option value="{{ items.id }}" name="{{ items.ledger_name }}">{{ items.ledger_name }}</option>
        {% endfor %}
      {% endif %}
      </select>
    </div>
      <div class="form-group col-md-2">
         <label>Sell Date</label>
        <input type="text"  name="sdate" class="form-control" data-date-format="dd-mm-yyyy" id="dp2">
     </div>
    <div class="form-group col-md-2">
          <label>Product Name</label>
      <select id="inputState2" name="products_dat" class="form-control">
          <option value="0" selected> -- Choose -- </option>
        {% if not product_data %}
        <option value="no_items">No Items to display</option>
      {% else %}
        {% for items in product_data %}
        <option value="{{ items.id }}" name="{{ items.product_name }}">{{ items.product_name }}</option>
        {% endfor %}
      {% endif %}
      </select>
     </div>
      </div>
    <div class="form-row">
        <div class="form-group col-md-2">
        <label>Quantity</label>
        <input type="text" class="form-control" id="qty" name="qtykg">
     </div>
        <div class="form-group col-md-2">
         <label>Rate Per Unit(Rs)</label>
        <input type="text" class="form-control" id="rate" name="recamt">
     </div>
        </div>
    <div class="form-row">
        <div class="form-group col-md-2">
         <label class="text-danger">Billed Amount(Rs)</label>
        <input type="text" readonly id="amount" class="form-control text-danger" name="totamt">
     </div>
    </div>
    <br>
         <button type="submit" class="btn btn-primary">Submit</button>
    <button type="reset" class="btn btn-danger">Reset</button>

</form>

{% endblock %}