{% extends "base.html" %}
{% block title %}
Star ERP -- Alter Material
{% endblock %}
{% block content %}
<h1 class="h3 mb-4 text-gray-800">Alter Material</h1>
<form action="/material_modification" method="POST">
  <div class="form-row">
    <div class="form-group col-md-4">
      <label for="inputState1">Old Material Name</label>
      <select id="inputState1" name="materials_list" class="form-control">
            <option value="0" selected> -- Choose --</option>
        {% if not items_data %}
        <option value="no_items">No Items to display</option>
      {% else %}
        {% for items in items_data %}
        <option value="{{ items.id }}" name="{{ items.material_name }}">{{ items.material_name }}</option>
        {% endfor %}
      {% endif %}
      </select>
    </div>
      <div class="form-group">
          <label for="inputState1">New Material Name</label>
      <input type="text" class="form-control" id="new_name" name="new_name">
    </div>
  </div>
    <div class="form-row">
      <div class="form-group col-md-2">
      <label for="Unit">Unit</label>
      <select id="Unit" name="unit_list" class="form-control">
            <option value="0" selected> -- Choose --</option>
        {% if not units_data %}
        <option value="no_items">No Items to display</option>
      {% else %}
        {% for items in units_data %}
        <option value="{{ items.unit }}" name="{{ items.unit }}">{{ items.unit }}</option>
        {% endfor %}
      {% endif %}
      </select>
    </div>
      <div class="form-group col-md-2">
      <label for="subUnit">Sub-Unit</label>
      <select id="subUnit" name="sub_unit_list" class="form-control">
            <option value="0" selected> -- Choose --</option>
        {% if not units_data %}
        <option value="no_items">No Items to display</option>
      {% else %}
        {% for items in units_data %}
        <option value="{{ items.unit }}" name="{{ items.unit }}">{{ items.unit }}</option>
        {% endfor %}
      {% endif %}
      </select>
    </div>
      </div>
  <div class="form-row">
    <div class="form-group col-md-6">
         <label for="inputState1">New Comments</label>
         <input type="text" class="form-control" id="popcomments" name="new_comments">
    </div>
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Submit</button>
    <button type="reset" class="btn btn-danger">Reset</button>
</form>
{% endblock %}