{% extends "base.html" %}
{% block title %}
Star ERP -- Delete Purchased
{% endblock %}
{% block content %}

<h1 class="h3 mb-4 text-gray-800">Delete Purchased Details</h1>
<div class="table-responsive">
    <table id="delete_purchased" class="table table-bordered" style="width:100%">
        <thead>
            <tr>
                <th class="table-dark">ID</th>
                <th class="table-dark">Date</th>
                <th class="table-dark">Ledger Name</th>
                <th class="table-dark">Quantity(Unit)</th>
                <th class="table-dark">Total Amount</th>
                <th class="table-dark">Quantity(Sub-Unit)</th>
                <th class="table-dark">Material Name</th>
<!--                <th class="table-dark">Added By</th>-->
                <th class="table-dark">Action</th>
            </tr><tr>
                <th class="table-primary">ID</th>
                <th class="table-primary">Purchased_Date</th>
                <th class="table-primary">Ledger Name</th>
                <th class="table-primary">Quantity(Unit)</th>
                <th class="table-primary">Total Amount</th>
                <th class="table-primary">Quantity(Sub-Unit)</th>
                <th class="table-primary">Material Name</th>
<!--                <th>Added By</th>-->
                <th class="table-primary">Action</th>
            </tr>
        </thead>

        <tbody>
        {% for items in items_data %}
            <tr>

                    <td>{{items.purchased_id}}</td>
                    <td>{{items.purchased_date}}</td>
                    <td>{{items.ledger_name}}</td>
                    <td style="color:black">{{items.quantity_unit ~ items.unit}}</td>
                    <td>{{items.total_amount}}</td>
                    <td style="color:blue">{{items.quantity_sub_unit ~ items.sub_unit}}</td>
                    <td>{{items.material_name}}</td>
<!--                    <td>{{items.added_by}}</td>-->
                <td><a href="/del_purchased_data/{{items.purchased_id}}" class="btn btn-danger">Delete</a></td>
            </tr>
         {% endfor %}
        </tbody>

    </table>
</div>
{% endblock %}
