{% extends "base.html" %}
{% block title %}
Star ERP -- View Billings
{% endblock %}
{% block content %}

<h1 class="h3 mb-4 text-gray-800">View Billing Details</h1>
<div class="table-responsive">
    <table id="delete_billing" class="table table-bordered" style="width:100%">
        <thead>
            <tr>
                <th class="table-dark">Sell_ID</th>
                <th class="table-dark">Sell_Date</th>
                <th class="table-dark">Ledger Name</th>
                <th class="table-dark">Product_Name</th>
                <th class="table-dark">Quantity</th>
                <th class="table-dark">Rate</th>
                <th class="table-dark">Amount</th>
                <th class="table-dark">Action</th>
            </tr><tr>
                <th class="table-primary">Sell_ID</th>
                <th class="table-primary">Sell_Date</th>
                <th class="table-primary">Ledger Name</th>
                <th class="table-primary">Product_Name</th>
                <th class="table-primary">Quantity</th>
                <th class="table-primary">Rate</th>
                <th class="table-primary">Amount</th>
                <th class="table-primary">Action</th>
            </tr>
        </thead>

        <tbody>
        {% for items in items_data %}
            <tr>

                    <td>{{items.sell_id}}</td>
                    <td>{{items.sell_date}}</td>
                    <td>{{items.ledger_name}}</td>
                    <td>{{items.product_name}}</td>
                    <td>{{items.quantity}}</td>
                    <td>{{items.rate}}</td>
                    <td>{{items.amount}}</td>
                <td><a href="/del_sell_data/{{items.sell_id}}" class="btn btn-danger">Delete</a></td>
            </tr>
         {% endfor %}
        </tbody>

    </table>
</div>
{% endblock %}
