{% extends "base.html" %}
{% block title %}
Star ERP -- Delete Component
{% endblock %}
{% block content %}

<h1 class="h3 mb-4 text-gray-800">Delete Component Master</h1>

<div class="table-responsive">
    <table id="delete_component_master" class="table table-bordered" style="width:100%">
        <thead>
            <tr>
                <th class="table-dark">Component ID</th>
                <th class="table-dark">Date Time</th>
                <th class="table-dark">Component Name</th>
                <th class="table-dark">Component Specification</th>
                <th class="table-dark">Component Rate</th>
                <th class="table-dark">Action</th>
            </tr><tr class="NoXl">
                <th class="table-primary">Component ID</th>
                <th class="table-primary">Date Time</th>
                <th class="table-primary">Component Name</th>
                <th class="table-primary">Component Specification</th>
                <th class="table-primary">Component Rate</th>
                <th class="table-primary">Action</th>
            </tr>
        </thead>

        <tbody>
        {% for items in items_data %}
            <tr>

                    <td>{{items.id}}</td>
                    <td>{{items.date_time}}</td>
                    <td>{{items.product_name}}</td>
                    <td>{{items.product_spec}}</td>
                    <td>{{items.product_rate}}</td>

                <td><a href="/del_component_master_data/{{items.id}}" class="btn btn-danger">Delete</a></td>
            </tr>
         {% endfor %}
        </tbody>

    </table>
</div>
{% endblock %}
