{% extends "base.html" %}
{% block title %}
Star ERP -- Add Unit Master
{% endblock %}
{% block content %}
<h1 class="h3 mb-4 text-gray-800">Add Unit</h1>
<form action="/unit_creation" method="post">
  <div class="form-row">
    <div class="form-group col-md-4">
         <label>Unit</label>
      <input type="text" name="unitname" class="form-control">
    </div>
      </div>
    <br>
    <button type="submit" class="btn btn-primary">Submit</button>
    <button type="reset" class="btn btn-danger">Reset</button>
</form>
{% endblock %}