{% extends "base.html" %}
{% block title %}
Star ERP -- Add Ledger
{% endblock %}
{% block content %}
<h1 class="h3 mb-4 text-gray-800">Add Ledger</h1>
<form action="/ledger_creation" method="post">
  <div class="form-row">
    <div class="form-group col-md-4">
         <label>Ledger Name</label>
      <input type="text" name="ledgername" class="form-control">
    </div>
      </div>
      <div class="form-row">
      <div class="form-group col-md-4">
          <label>Ledger Comments</label>
      <input type="text" class="form-control" name="comments">
      </div>
      </div>
    <br>
    <button type="submit" class="btn btn-primary">Submit</button>
    <button type="reset" class="btn btn-danger">Cancel</button>
</form>
{% endblock %}