{% extends "base.html" %}
{% block title %}
Star ERP -- Add Material
{% endblock %}
{% block content %}
<h1 class="h3 mb-4 text-gray-800">Add Material</h1>
<form action="/new_material_add" method="post">
  <div class="form-row">
    <div class="form-group col-md-4">
         <label>Material Name</label>
      <input type="text" name="materialname" class="form-control">
    </div>
      </div>
      <div class="form-row">
      <div class="form-group col-md-4">
          <label>Material Comments</label>
      <input type="text" class="form-control" name="matcomments">
      </div>
      </div>
    <br>
    <button type="submit" class="btn btn-primary">Submit</button>
    <button type="reset" class="btn btn-danger">Cancel</button>
</form>
{% endblock %}