{% extends "base.html" %}
{% block title %}
Star ERP -- View Inventory
{% endblock %}
{% block content %}

<h1 class="h3 mb-4 text-gray-800">View Material Stock</h1>
<div class="form-row">
 <div class="form-group col-md-2">
        <button type="button" class="btn btn-primary" id="But_material_stock_download"><i class="fas fa-download fa-sm"></i> Download Report </button>
    </div>

</div>
<div class="table-responsive">
    <table id="show_material_inventory" class="table table-bordered" style="width:100%">
        <thead>
            <tr>
                <th class="table-dark">Material Name</th>
                <th class="table-dark">Available Quantity</th>
            </tr><tr class="NoXl">
                <th class="table-primary">Material Name</th>
                <th class="table-primary">Available Quantity</th>
            </tr>
        </thead>

        <tbody>
        {% for items in items_data %}
            <tr>
                    <td >{{items.material_name}}</td>
                    <td>{{items.quantity}}</td>
            </tr>
         {% endfor %}
        </tbody>

    </table>
</div>
{% endblock %}