{% extends "base.html" %}
{% block title %}
Star ERP -- View Ledger Tx
{% endblock %}
{% block content %}

<h1 class="h3 mb-4 text-gray-800">Due Clearance/Advance Payment - Report</h1>
<!--<div class="form-row float-right">-->
<!--    <button type="button" class="btn btn-primary" id="But_lm_download"><i class="fas fa-download fa-sm"></i> Download Report </button>-->
<!--</div>-->
<!--&lt;!&ndash; Logout Modal&ndash;&gt;-->
<!--  <div class="modal fade" id="lmreportModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">-->
<!--    <div class="modal-dialog" role="document">-->
<!--      <div class="modal-content">-->
<!--        <div class="modal-header">-->
<!--          <h5 class="modal-title" id="exampleModalLabel">Ledger Transactions</h5>-->
<!--          <button class="close" type="button" data-dismiss="modal" aria-label="Close">-->
<!--            <span aria-hidden="true">×</span>-->
<!--          </button>-->
<!--        </div>-->
<!--        <div class="modal-body">-->
<!--            <form name="gen_lm_report" action="/download_ledger_tx_report_as_csv" onsubmit="return validateledgerForm()" method="POST">-->
<!--  <div class="form-row">-->

<!--      <div class="form-group col-md-8">-->
<!--          <label for="inputState">Date Range</label>-->
<!--          <input type="text" name="ledger_daterange" value="08/15/2019 - 08/30/2019" class="form-control"/>-->
<!--      </div>-->
<!--  </div>-->

<!--        <div class="modal-footer">-->
<!--          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>-->
<!--&lt;!&ndash;            <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>&ndash;&gt;-->
<!--            <button type="submit" class="btn btn-primary"><i class="fas fa-download fa-sm"></i> Generate Report</button>-->
<!--&lt;!&ndash;          <a class="btn btn-primary" href="{{url_for('logout')}}">Generate Report</a>&ndash;&gt;-->
<!--        </div>-->
<!--          </form>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->

<div class="form-row">
    <div class="form-group col-md-2">
        <label for="min">From</label>
    <input type="text" class="form-control" data-date-format="dd-mm-yyyy" value="01-08-2019" placeholder="01-08-2019" id="min">
    </div>
    <div class="form-group col-md-2">
        <label for="max">To</label>
    <input type="text" class="form-control" data-date-format="dd-mm-yyyy" value="20-12-2019" placeholder="20-08-2019" id="max">
    </div>
 <div class="form-group col-md-2 float-right" style="margin-top:30px">
        <button type="button" class="btn btn-primary" id="But_lm_download"><i class="fas fa-download fa-sm"></i> Download Report </button>
    </div>

</div>
<div class="table-responsive">
    <table id="ledger_datatable" class="table table-bordered">
       <div class="form-row">
        <thead>
            <tr>
                <th class="table-dark">Receipt ID</th>
                <th class="table-dark">Date Time</th>
                <th class="table-dark">Ledger Name</th>
                <th class="table-dark">Amount</th>
                <th class="table-dark">Transaction Type</th>
            </tr>
        <tr class="noExl">
                <th class="table-primary">Receipt ID</th>
                <th class="table-primary">Date Time</th>
                <th class="table-primary">Ledger Name</th>
                <th class="table-primary">Amount</th>
                <th class="table-primary">Transaction Type</th>
            </tr>
        </thead>

        <tbody>
        {% for items in items_data %}
            <tr>
                   <td>{{items.id}}</td>
                    <td>{{items.date_time}}</td>
                    <td>{{items.ledger_name}}</td>
                    <td>{{items.amount}}</td>

                {% if items.amount < 0 %}
                <td style="font-weight:bold;color:green"> Debit </td>
                {% else %}
                <td style="font-weight:bold;color:red"> Credit </td>
                {% endif %}
            </tr>
         {% endfor %}
        </tbody>
           <tfoot>
            <tr>

                <th class="table-dark"></th>
                <th class="table-dark"></th>
                <th class="table-dark" style="text-align:right">Total:</th>
                <th class="table-dark"></th>
                <th class="table-dark"></th>
            </tr>
        </tfoot>

       </div>
    </table>
</div>
{% endblock %}
