{% extends "base.html" %}
{% block title %}
Star ERP -- View Material Movement
{% endblock %}
{% block content %}

<h1 class="h3 mb-4 text-gray-800">Material Movement - Report</h1>
<!--<div>-->
<!--&lt;!&ndash;<button type="button" class="btn btn-dark" ><i class="fas fa-download fa-sm"></i> Download</button>&ndash;&gt;-->
<!--    <a class="btn btn-dark" href="/download_cash_report_as_csv" role="button"><i class="fas fa-download fa-sm"></i> Download</a>-->
<!--</div>-->
<div class="form-row">
    <div class="form-group col-md-2">
<!--    <input type="text" class="form-control" placeholder="01-08-2019" id="min">-->
        <label>From</label>
    <input type="text" class="form-control" data-date-format="dd-mm-yyyy" placeholder="01-08-2019" id="min">
    </div>
    <div class="form-group col-md-2">
        <label>To</label>
<!--    <input type="text" class="form-control" placeholder="20-08-2019" id="max">-->
    <input type="text" class="form-control" data-date-format="dd-mm-yyyy" placeholder="20-08-2019" id="max">
    </div>
 <div class="form-group col-md-2 float-right" style="margin-top:30px">
        <button type="button" class="btn btn-primary" id="But_mm_download"><i class="fas fa-download fa-sm"></i> Download Report </button>
    </div>
</div>
<div class="table-responsive">
    <table id="material_datatable" class="table table-bordered">
        <thead>
            <tr>
                <th class="table-dark">ID</th>
                <th class="table-dark">Transaction Date</th>
                <th class="table-dark">Material Name</th>
                <th class="table-dark">Opening Balance</th>
                <th class="table-dark">Closing Balance</th>
                <th class="table-dark">Difference</th>
                <th class="table-dark">Transaction Type</th>
            </tr>
         <tr class="noExl">
                <th class="table-primary">ID</th>
                <th class="table-primary">Transaction Date</th>
                <th class="table-primary">Material Name</th>
                <th class="table-primary">Opening Balance</th>
                <th class="table-primary">Closing Balance</th>
                <th class="table-primary">Difference</th>
                <th class="table-primary">Transaction Type</th>
            </tr>
        </thead>

        <tbody>
        {% for items in items_data %}
            <tr>
                    <td>{{items.id}}</td>
                    <td>{{items.date_and_time}}</td>
                    <td>{{items.material_name}}</td>
                    <td>{{items.opening_balance}}</td>
                    <td>{{items.closing_balance}}</td>
                {% if items.txn_type == 'Purchase' %}
                <td>{{items.diff}}</td>
                <td  class="table-success"> Purchase </td>
                {% elif items.txn_type == 'Cancelled' %}
                <td>{{items.diff}}</td>
                 <td class="table-warning"> Cancelled </td>
                {% else %}
                <td>{{'-' ~ items.diff if items.txn_type == 'Sale' else items.diff}}</td>
                <td class="table-danger"> Sale </td>
                {% endif %}
            </tr>
         {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <th class="table-dark"></th>
                <th class="table-dark"></th>
                <th class="table-dark"></th>
                <th class="table-dark"></th>
                <th class="table-dark" style="text-align:right">Total:</th>
                <th class="table-dark"></th>
                <th class="table-dark"></th>
            </tr>
        </tfoot>
    </table>
</div>
{% endblock %}