{% extends "base.html" %}
{% block title %}
Star ERP -- View Component Master
{% endblock %}
{% block content %}

<h1 class="h3 mb-4 text-gray-800">Sales-Purchase Payment - Report</h1>
<div class="form-row">
    <div class="form-group col-md-4">
         <label>Ledger Name</label>
      <select id="ledger_id" name="ledgers_dat" class="form-control">
          <option value="0" selected> -- Choose -- </option>
        {% if not ledger_data %}
        <option value="no_items">No Items to display</option>
      {% else %}
        {% for items in ledger_data %}
        <option value="{{ items.id }}" name="{{ items.ledger_name }}">{{ items.ledger_name }}</option>
        {% endfor %}
      {% endif %}
      </select>
    </div>
<div class="form-group col-md-4" style="margin-top:30px">
   <button type="button" class="btn btn-secondary openBtn" data-toggle="modal" id="but" data-target="#mmreportModal"><i class="fas fa-search fa-sm"></i> Show Result</button>
</div>
</div>
<div class="modal fade" id="mmreportModal" tabindex="-1"  role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Cash Report by Ledger</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body" id="getCode">
<button type="button" id="but_report" class="btn btn-success" style="margin-bottom: 20px;" ><i class="fas fa-download fa-sm"></i> Download </button>
<div class="table-responsive">
    <table id="ledger_material_table" class="table table-bordered">
        <thead>
            <tr>
                <th>Receipt ID</th>
                <th>Date Time</th>
                <th>Ledger Name</th>
                <th>Material Name</th>
                <th>Product Name</th>
                <th>Amount</th>
                <th>Transaction Type</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
            </tr>
        </tbody>

    </table>
</div>
      </div>
      </div>
    </div>
</div>
{% endblock %}
