{% extends "base.html" %}
{% block title %}
Star ERP -- View Sales-Purchase
{% endblock %}
{% block content %}

<h1 class="h3 mb-4 text-gray-800">Sales-Purchase Payment - Report</h1>
<!--<div>-->
<!--&lt;!&ndash;<button type="button" class="btn btn-dark" ><i class="fas fa-download fa-sm"></i> Download</button>&ndash;&gt;-->
<!--    <a class="btn btn-dark" href="/download_cash_report_as_csv" role="button"><i class="fas fa-download fa-sm"></i> Download</a>-->
<!--</div>-->
<div class="form-row">
    <div class="form-group col-md-2">
        <label for="ledgermindate">From</label>
    <input type="text" class="form-control" data-date-format="dd-mm-yy" value="01-08-19" placeholder="01-08-19" id="ledgermindate">
    </div>
    <div class="form-group col-md-2">
        <label for="ledgermaxdate">To</label>
    <input type="text" class="form-control" data-date-format="dd-mm-yy" value="20-12-19" placeholder="20-08-20" id="ledgermaxdate">
    </div>
 <div class="form-group col-md-2 float-right" style="margin-top:30px">
        <button type="button" class="btn btn-primary" id="But_lm_download"><i class="fas fa-download fa-sm"></i> Download Report </button>
    </div>

</div>
<div class="table-responsive">
    <table id="cash_datatable" class="table table-bordered">
        <thead>
            <tr>
                <th>Receipt ID</th>
                <th>Date Time</th>
                <th>Ledger Name</th>
                <th>Material Name</th>
                <th>Product Name</th>
                <th>Amount</th>
                <th>Transaction Type</th>
            </tr>
        </thead>

        <tbody>
        {% for items in items_data %}
            <tr>
                    <td>{{items.id}}</td>
                    <td>{{items.date_time}}</td>
                    <td>{{items.ledger_name}}</td>
                {% if items.material_name %}
                    <td>{{items.material_name}}</td>
                {% else %}
                    <td></td>
                {% endif %}
                {% if items.product_name %}
                    <td>{{items.product_name}}</td>
                {% else %}
                    <td></td>
                {% endif %}
                    <td>{{items.amount}}</td>
                {% if items.material_name%}
                <td  class="table-success"> Purchase </td>
                {% elif items.product_name %}
                <td class="table-danger"> Sale </td>
                {% elif items.amount > 0 and not items.product_name and not items.material_name %}
                <td class="table-dark"> Debit </td>
                {% elif items.amount < 0 and not items.product_name and not items.material_name %}
                <td class="table-primary"> Credit </td>

                {% endif %}
            </tr>
         {% endfor %}
        </tbody>
        <tfoot>
           <tr class="noExl">
               <th>Receipt ID</th>
                <th>Date Time</th>
                <th>Ledger Name</th>
                <th>Material Name</th>
                <th>Product Name</th>
                <th>Amount</th>
                <th>Transaction Type</th>
            </tr>
           </tfoot>
    </table>
</div>
{% endblock %}