{% extends "base.html" %}
{% block title %}
Star ERP -- View Purchased
{% endblock %}
{% block content %}

<h1 class="h3 mb-4 text-gray-800">View Purchased Details</h1>
<div class="table-responsive">
    <table id="example" class="table table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>Purchased_ID</th>
                <th>Purchased_Date</th>
                <th>Ledger Name</th>
                <th>Quantity_Unit</th>
                <th>Unit</th>
                <th>Total Amount</th>
                <th>Quantity_Sub_unit</th>
                <th>Sub_Unit</th>
                <th>Material Name</th>
            </tr>
        </thead>

        <tbody>
        {% for items in items_data %}
            <tr>

                    <td>{{items.purchased_id}}</td>
                    <td>{{items.purchased_date}}</td>
                    <td>{{items.ledger_name}}</td>
                    <td>{{items.quantity_unit}}</td>
                    <td>{{items.unit}}</td>
                    <td>{{items.total_amount}}</td>
                    <td>{{items.quantity_sub_unit}}</td>
                    <td>{{items.sub_unit}}</td>
                    <td>{{items.material_name}}</td>
            </tr>
         {% endfor %}
        </tbody>

    </table>
</div>
{% endblock %}
